.title {
    margin-top: 5%;
    text-align: center;
}

.video {
    margin-top: 5%;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.slider {
    margin-top: 5%;
}

.stars {
    margin-top: 1%;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.comments{
    margin-left: 5%;
    margin-right: 5%;
}

.description{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}